{% comment %}
  Detect appearance language and return it through variable "lang"
{% endcomment %}
{% if site.data.locales[page.lang] %}
  {% assign lang = page.lang %}
{% elsif site.data.locales[site.lang] %}
  {% assign lang = site.lang %}
{% else %}
  {% assign lang = 'en' %}
{% endif %}

    <h2 class="panel-heading ps-3 pb-2 mb-0">{{- lang -}}</h2>
 
 <ul>
 {% for language in site.languages %}
  <li>available: {{ language }}</h3>
{% endfor %} 
</ul>
<h2>active: {{ site.active_lang }} </h2>

<! -- provides the liquid tag {{ site.languages }} to get an array of your I18n strings.
provides the liquid tag {{ site.default_lang }} to get the default_lang I18n string.
provides the liquid tag {{ site.active_lang }} to get the I18n language string the website was built for.  -->